.main {
  margin: 0 auto;
  margin-block: var(--gap-xlg);
  max-width: 1250px;
  min-height: 95vh;
  padding-block: var(--padding-sm);
  padding-inline: var(--padding-md);
  background-color: var(--bg-white);
}

