<div class="register-container">
  <div class="register">
    <div class="img-container">
      <div class="overlay flex-column">
        <h3>Junte-se ao MindWay!</h3>
        <h5>Acesse a melhor plataforma de acompanhamento terapêutico.</h5>
      </div>   
    </div>
    <div class="form-container">
          <div class="card-ui card-body">
            <h3 class=" mb-3">Crie sua conta</h3>
            <form class="d-flex align-items-center flex-column gap-3">
                <a class="btn--group btn-ui--green" routerLink="/register-school">
                        <i class="bi bi-building-add"></i>
                        Escola
                </a>
                <a class="btn--group btn-ui--green" routerLink="/register-teacher">
                        <i class="bi bi-person-plus"></i>
                        Professor
                </a>
                <a class="btn--group btn-ui--green" routerLink="/register-therapist">
                        <i class="bi bi-person-badge"></i>
                        Terapeuta
                </a>
                <a class="btn--group btn-ui--green" routerLink="/register">
                        <i class="bi bi-person-plus"></i>
                        Cliente
                </a>
            </form>

            <div class="d-flex justify-content-center mt-3 text-center gap-3">
              <a routerLink="/login">Já tenho conta</a>
            </div>
          </div>
    </div>
  </div>
</div>

