<button class="child-card card-ui card-ui--md" type="button" [class.child-card--active]="active" (click)="selectChild.emit(child)">
  <div class="card-ui__body child-card__body">
    <div class="child-card__header">
      <h3 class="child-card__title">{{ child.name }}</h3>
      <span class="child-card__age">{{ child.age }}y</span>
    </div>

    <p class="child-card__meta">
      Born {{ child.birthDate | date: "mediumDate" }}
    </p>
<!-- 
    <p *ngIf="child.observation" class="child-card__note">
      {{ child.observation }}
    </p>

    <p class="child-card__code">
      Access code: <strong>{{ child.accessCode }}</strong>
    </p> -->
  </div>
</button>

